$spacing: 30px;
$highlightColor : #fff;

$fontXS: 9px;
$fontS: 12px;
$fontM: 16px;
$fontML: 19px;
$fontL: 25px;
$fontXL: 32px;


.fontS {
	font-size: $fontXS !important;
}

@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


/******** HTML ********/

html,body {
	font-size: "Open Sans", sans-serif;
}
header {

}
footer {
	height:100px;
	line-height: 100px;
	color:#ccc;
}


.vcenter_table {display:table; height:100%; width:100%; margin: 0 !important; }
.vcenter_container {display:table-cell; vertical-align:middle; text-align:center; margin-top: 0 !important;  width: 100%; height:100%; }
.vcenter_content {display:inline-block; }


.fitH {
	overflow: hidden;
}

.hidden {
	display: none;
}
.mp0 {
	 margin: 0;
	 padding:0;
}
.xrow {
	 @extend .row;
	 @extend .mp0;
	 max-width:100%;
}

.xrow3 {

 	 @extend .row;
	 @extend .mp0;
	 max-width:33%;
}
.abs {
	position: absolute;
	left:0;
	top:0;
}

.fullW {
	max-width: 100%;
}
.fullH {
	height: 88vh;
}
.fullWH {
	@extend .fullW;
	@extend .fullH;
}
.scrollH{
	overflow-x: hidden;
	overflow-y: scroll;
}

.w100{
	width:100%;
}
.h100{
	height:100%;
}
.wh100 {
	@extend .w100;
	@extend .h100;
}

.fullH_primary {
	height: 85%;
}

.fullH_secondary {
	height: 15%;
}


/*  html  */


html,body {
	@extend .mp0;
	@extend .wh100;
}


/*

tipografia

*/


body {
	background-color: #111;
	font-family: "Open Sans";
}

/*	widgets */

.hoverLink {
	cursor: pointer;
	&:hover {
		color: #ddd;
	}
}






















#narrativa {
	height: $spacing * 8;
}


.progress_bar_holder{
	position: relative;
	background-color: #222;
	&,div {
		@extend .w100;
	}
	
	height: $spacing;
	padding: $spacing / 3;
	
	.progress_bar {
		border:none;
		margin: 0;
		padding: 0;
		height: $spacing / 3;
		background-color: #222222;
		.progress {
			border:none;
			width:33%;
			height: 100%;
			background-color: #363636;
		}
	}


	.markers {
			@extend .abs;

		.marker {
			@extend .abs;
			@extend .hoverLink;
			//border-left: 2px solid #ccc;
			color: #ccc;
			width:200px;
			height: $spacing / 2;
			font-size: $fontS;
			//padding: $spacing / 3 0;

			&.current {
				color: $highlightColor;
				//border-left: 2px solid $highlightColor !important;
			}

		}
	}

}


#twitter {
	color: #fff;
	// &>div{
	// 	height: $spacing * 2;		
	// }
	// height: $spacing * 2;		
	// background-color: #333;
	// div {

	// 	padding: 0;
	// 	margin: 0;
	// 	background-color: #333;
	// 	font-size: $fontS;
	// }
	// #search .texto {
	// 	margin: 0;
	// 	height: $spacing;
	// }
	// #search .boton {
	// 	text-align: center;
	// 	line-height: $spacing;
	// 	height: $spacing;
	// 	background-color: #222;
	// 	&:hover{
	// 		background-color: #000;
	// 		color:#4099ff;
	// 	}
	// }

	// #tweets {
	// 	img {
	// 		max-height: 20vh;
	// 		max-width: 100%;
	// 	}
	// }

	#twitter_media {
		height: $spacing * 3;
	}
	.toggle {

		background-color: #444;

		&.on {
			background-color: #888;
		}
	}
	

	#tools {
		.boton {
			font-size: $fontML;
			color: #666;
			cursor: pointer;
		}
		#notify {
			cursor: default;
		}
		.boton.active {
			color:#4099ff !important;
		}
		#changed {
			width: $spacing;
			height: $spacing;
			border-radius: $spacing;
			border: 1px solid #aaa;
			box-shadow: 3px 3px 0 #000;
			background-color: #222;
		}
	}

	#tweets {

		overflow-y: auto;
		
		.tweet {

			margin: $spacing;
		
			font-size: 14px;

			.screenbutton {

				width:$spacing;
				height: $spacing / 2;
				
				border: 1px solid #999;
				border-radius: $spacing;

				background-color: #222;
				
				margin: 0;
				float: left;

				&:hover {
					background-color: #444
				}
				
			}
		}
	}

}


/* player */

#player {
	background-color: #000;

	#pantallas {

		position: relative;	
		
		#clearDiv {
			@extend .abs;
			top:100%;
			z-index:999;
			.clearbtn {

			width: $spacing;
			height: $spacing;
			line-height: $spacing;
			border: 1px solid #000;
			background-color: #333;
			float: left;
			}
		}
			.pantalla {
				
				@extend .abs;

				background-color: #000;

				display: inline-block;
				
				.media_player {
					@extend .abs;
					@extend .wh100;

				}

				.media_tweet,
				.media_textos{
					@extend .wh100;
					.vcenter_content {
						color: #fff;
						padding: $spacing;
						font-size: $fontXL;

					}
				}
				video {
				  width: 100%    !important;
				  height: auto   !important;
				}

				.tweet {
					color: #fff;
				}

				.contenido {
					background-color: #00f;





				}
				

				.text {
					font-size: $fontL;
					color: white;
					.vcenter_content {
						width:70%;
						
					}
				}

				.contenedor {
					&,div {
					}
					@extend .abs;

				}

				.video {
					@extend .contenedor;
					width: 100%;
				}

				.scaler {
					transform: scale(1);
					-webkit-transition: -moz-transform 15s ease-out; 
					-moz-transition: -webkit-transform 15s ease-out; 
				}
				

				.tweet {
					padding: $spacing;
					background-color: #333;
					border-radius: $spacing / 3;
						.date {
							font-size: $fontM;

						}
						div {
							margin-bottom: $spacing / 4;
						}
					.user {		
						.name, .avatar {
							font-size: $fontL;
							height: $spacing * 1.5;
						}
						.name {
							line-height: $spacing * 1.5;
							padding-left: $spacing;
						}
					}
				}

			}
	}
}

#twitter_media, #secuencia_media {
	
	
	overflow-x: auto;
	overflow-y: hidden;
	
	background-color: #111;
	.scrollX{
		background-color: #111;
		width: auto;
		display: block;
		min-width:100%;
	height: $spacing * 4; 
	}
	height: $spacing * 4; 
	.media {
		width: $spacing * 4; 
		height: $spacing * 4; 
		display: inline-block;
		float: left;
		border: 1px solid black;
		background-color: #222;
		color:#aaa;
		font-size: $fontXS;
		img {
			max-width: 100%;
			height:auto;
			max-height: 100%;
		}

	}

	.media {
	.row {
		width: 80%;
		margin-left: 10%;
	}
	.screenbutton {
		height: $spacing / 2;
		border: 1px solid #999;
		border-radius: $spacing;
		background-color: #222;
		margin: 0;
		width:$spacing;
		float: left;

		&:hover {
			background-color: #444
		}
	}
}


}





.media_display {
	img {
		max-width: 30vw;
		max-height: 20vh;
	}
}



/* header */


#timelines {

	#timeline_secciones {
		
	}
}




/*
#nav_arrows {
	@extend .wh100;
	position: relative;
	color:white;
	z-index:0;
	button {
		@extend .abs;
		z-index:1;
		top:45%;
		width:2%;
		padding-left:1em;
		padding-right:1em;
	}
	#prev_arrow {
		left:0;	
	}
	#next_arrow {
		left:97%;
		right:3%;	
	}
}
*/


#iframe iframe {
	z-index:999;
}

#pantallas {

	position: relative;
}

#descarga {
	font-size: $fontS !important;
}

.secciones_button {
	padding-top: $spacing / 6;
	padding-bottom: $spacing / 6;
	font-size: $fontS !important;
}

.current .secciones_button {
	background-color: #555;
	color:#fff;
}
.secciones_button,
#descarga,
#prev_arrow, #next_arrow,
#transport_play, #transport_stop {
	@extend .toggle;
	background-color: #2a2a2a !important;
	
	&.disabled {
		color:#1a1a1a;
		background-color: #111
	}
	&:hover,&:focus{		
		background-color: #3f3f3f !important;
		border: none;
	}
}


button span {
	padding: 0 $spacing / 2;
}